<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background: black;
        color: white;
        text-align: center;
        font-size: 2em;
      }
    </style>
  </head>

  <body>
    <img src="/schwifty.jpg" height="600" />
    <p>
      <%= @flag %>
    </p>
  </body>
</html>